export LOG_FILE=cool_app.log

export RABBITMQ_USER=cool_app
export RABBITMQ_PASS=secret
export RABBITMQ_PORT=5672
export RABBITMQ_HOSTNAME=broker
export RABBITMQ_URI="amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@${RABBITMQ_HOSTNAME}:${RABBITMQ_PORT}/?backpressure_detection=t"

export POSTGRES_USER=cool_app
export POSTGRES_PASSWORD=secret
export POSTGRES_DB=cool_app
export POSTGRES_DB_HOSTNAME=db

export DATABASE_URI="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_DB_HOSTNAME}:5432/${POSTGRES_DB}"